.wrapper {
  max-width: 1200px;
  padding-top: 100px;
  padding-left: 300px;
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 1350px) {
  .wrapper {
    padding: 100px;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    padding: 50px;
  }
}
