@import url("https://fonts.googleapis.com/css2?family=Asul&family=Lexend:wght@100;200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
:root,
body,
html {
  font-family: "Lexend", sans-serif;
  background-color: #f9f7f3;
  color: #120902;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 100%;
  margin: 0;
  min-height: 100%;
  font-size: 14px;
  font-weight: 400;
}
mark {
  background: #ffdf6e;
  /* color: hsla(0, 0%, 100%, 0.88); */
  padding: 1px;
}
::selection {
  background: #C7E8CA;
  /* color: hsla(0, 0%, 100%, 0.88); */
}
/* Navbar */
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 400;
  color: #120902;
}
nav {
  width: 100%;
  height: 64px;
  margin: 0 auto;
  padding: 0 8px;
  transition: 0.1s opacity linear;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 200;
  border-bottom: 1px solid #120902;
}
.nav__name {
  display: flex;
  font-size: 28px;
  font-weight: 400;
  margin: 0 calc(2vh - 10px);
}
.nav__name::before {
  display: none;
}
.logo {
  border-radius: 50%;
  vertical-align: text-top;
  margin-right: 10px;
  margin-top: 3px;
}

nav span {
  padding: 0 10px;
}
nav ul {
  display: flex;
  overflow-x: auto;
  padding: 10px 2vh;
}
li {
  list-style-type: none;
  margin: auto;
}
nav ul li:first-child a {
  margin-left: 0;
}
nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 10px;
  padding: 5px 10px;
  font-weight: 400;
  font-size: 14px;
  white-space: nowrap;
}
nav a:before {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  height: 12%;
  width: 100%;
  background: rgb(32, 178, 170, 0.3);
  transition: all 0.1s linear;
}
nav a.nav__link--active:before {
  border-bottom: 2px solid lightseagreen;
  height: 0%;
}
nav a:focus:before,
nav a:hover:before {
  height: 100%;
}
@media screen and (max-width: 779px) {
  nav {
    height: auto;
    border-bottom: none;
  }
  nav ul {
    padding: 10px 0;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* Main Body */
main {
  overflow: hidden;
  -webkit-box-flex: 1;
  flex: 1;
  width: 100%;
  /* margin: 5vh auto; */
  /* padding: 2vh; */
  overflow-x: hidden;
  /* max-width: 1000px; */
}
@media screen and (max-width: 480px) {
  main {
    margin: 0vh auto;
    /* padding: 2vh; */
  }
}
.heading {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  padding: 0 5%;
  margin: auto;
  border-bottom: 1px solid #120902;
}
.heading_left {
  position: relative;
  width: 50%;
  height: 500px;
  overflow-y: hidden;
}
/* html * {
  background-attachment: scroll !important;
} */
/* carusel */
.heading_left_corusel {
  display: flex;
  position: relative;
  justify-content: space-evenly;
}
.heading_left_carusel__col_2 {
  animation: marquee-bottom 30s linear infinite;
}
.heading_left_carusel__col_1 {
  display: block;
  opacity: 1;
  animation: marquee-top 30s linear infinite;
}
@keyframes marquee-bottom {
  from {
    transform: translateY(-75%);
  }
  to {
    transform: translateY(-25%);
  }
}
@keyframes marquee-top {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-50%);
  }
}
@media only screen and (min-width: 992px) {
  .heading_left_carusel__col_1:hover,
  .heading_left_carusel__col_2:hover {
    animation-play-state: paused;
  }
}

.heading_left_carusel__item {
  width: 80%;
  padding: 12px 0;
  margin: 0 auto;
  color: #120902;
  text-align: left;
}
.heading_left_carusel__item-img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.heading_left_carusel__item-content {
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1.333em;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.heading_right {
  width: 50%;
  max-width: 600px;
  padding-bottom: 48px;
  align-self: center;
  flex: 1;
}
.heading_right-title {
  font-family: "Asul", sans-serif;
  font-size: 45px;
  font-weight: 500;
  padding: 10px 0;
}
.heading_right-desc {
  font-weight: 400;
  font-size: 18px;
  margin-top: 5px;
  line-height: 1.3;
}
.heading_right-subtitle {
  font-size: 26px;
}

@media screen and (max-width: 779px) {
  .heading {
    flex-direction: column;
    padding: 0 15px;
  }
  .heading_left {
    width: 100%;
    height: 400px;
    border-bottom: 1px solid #120902;
  }
  .heading_right {
    width: 100%;
    max-width: 100%;
    padding-bottom: 0;
  }
}

/* Home Exp */
section {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 5%;
  color: #120902;
  border-bottom: 1px solid #120902;
}
.sec_title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  padding: 30px;
}
.sec_title h2 {
  font-size: 32px;
  font-weight: 300;
}
.sec_title p {
  display: inline-block;
  font-size: 22px;
  font-weight: 200;
}
@media screen and (max-width: 830px) {
  .sec_title {
    display: block;
    padding: 20px 0;
  }
  .sec_title h2 {
    font-size: 28px;
  }
  .sec_title p {
    font-size: 16px;
    font-weight: 400;
  }
}

.sec_work {
  display: flex;
  width: 100%;
  padding: 50px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.sec_work_left {
  width: 50%;
}
.sec_work_left_item {
  display: flex;
  font-weight: 400;
  line-height: 1.3;
}
.sec_work_left_item-img {
  width: 40px;
  height: 40px;
  margin-right: 32px;
  object-fit: fill;
  border-radius: 50%;
}
.sec_work_left_item-title {
  font-size: 28px;
  color: #d96e34;
}
.sec_work_left_item-subtitle {
  font-weight: 300;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  color: #aa5656;
}
.sec_work_left_item-ul {
  margin-bottom: 10px;
}
.sec_work_left_item-ul-li {
  height: unset;
  margin: 0;
  list-style-type: "→ ";
  /* list-style-type: ""; */
  display: list-item;
  font-size: 16px;
  margin-bottom: 5px;
}
.sec_work_right {
  width: 50%;
  padding-left: 50px;
}
.sec_work_right-img {
  width: 100%;
  max-width: 170%;
  min-width: 768px;
}

@media screen and (max-width: 599px) {
  .sec_work_right-img {
    min-width: auto;
  }
}
@media screen and (max-width: 991px) {
  .sec_work {
    padding: 40px 0;
    flex-direction: column;
  }
  .sec_work_left {
    width: 100%;
  }
  .sec_work_right {
    width: 100%;
    margin-top: 32px;
    padding-left: 0;
  }
  .sec_work_right-img {
    max-width: 130%;
  }
}

.status {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  margin-top: 20px;
}
.status__light {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.status__light__ring {
  position: absolute;
  width: 25px;
  height: 25px;
  animation: pulsate 1.5s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  opacity: 0;
  border: 3px solid #539165;
  border-radius: 30px;
}
.status__light__led {
  position: absolute;
  width: 13px;
  height: 13px;
  background: #539165;
  border-radius: 100%;
}
.status__message {
  margin-left: 15px;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
@media screen and (max-width: 750px) {
  .semi {
    display: block;
    padding: 30px 15px;
  }
  .semi_title {
    margin-right: 50px;
    text-align: left;
    width: auto;
  }
  .semi_desc {
    padding-top: 30px;
  }
  #blue_text {
    font-size: 23px;
  }
  .description {
    font-size: 20px;
  }
}

/* Common */
/* section h1 {
  font-size: 40px;
  color: tomato;
  margin-bottom: 1rem;
}
section h2 {
  font-size: 24px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #007bff;
  padding-bottom: 5px;
  color: hsla(0, 0%, 100%, 0.88);
} */
section li {
  font-size: 17px;
  margin: 5px 0;
  list-style-type: circle;
  list-style-position: inside;
}
::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
}
section li a,
section p a {
  text-decoration: underline;
  /* color: #c6cfff; */
}
section#intro em {
  font-style: normal;
  font-size: 20px;
  margin: 10px 0px;
  padding-left: 10px;
  border-left: 3px solid teal;
  display: inline-block;
}
/* section p {
  color: hsla(0, 0%, 100%, 0.88);
  font-size: 18px;
  margin: 30px 0;
  line-height: 1.5;
} */

/* Marquee Wrapper - copied from codepen */
.marquees-wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 400px;
  padding: 0;
}
.marquee {
  --gap: 1rem;
  margin-block: 10px;
  display: flex;
  gap: var(--gap);
  background: rgba(180, 231, 184, 0.95);
  box-shadow: 0px 24px 17px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  user-select: none;
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: var(--gap);
}
.scroll {
  animation: scroll 30s linear infinite;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

/* styling design*/
.marquee__content li {
  list-style: none;
  line-height: normal;
  /* text-transform: uppercase; */
  font-size: 2rem;
}
.marquee-1 {
  position: absolute;
  top: 50%;
  rotate: 7deg;
}
.marquee-1 .scroll {
  animation: scroll 20s linear infinite;
}

.marquee-2 {
  position: absolute;
  top: 25%;
  rotate: 10deg;
}
.marquee-2 .scroll {
  animation: scroll 25s linear infinite reverse;
}
.marquee-3 {
  position: absolute;
  top: 50%;
  rotate: -10deg;
}
@media screen and (max-width: 750px) {
  .marquee {
    width: 100%;
  }
  .marquee-1 {
    top: 20%;
    rotate: 10deg;
  }
  .marquee-2 {
    rotate: -10deg;
  }
  .marquee-3 {
    rotate: -5deg;
  }
}

/* Project Page */
.projects_list {
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-gap: 1.25rem;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
  transition: 0.4s ease-in-out;
  padding-bottom: 30px;
  border-bottom: 0;
}
.projects_list-item {
  min-height: 250px;
  background: rgb(23, 42, 69);
  border-radius: 0.375rem;
  padding: 1.25rem 1.25rem 60px;
  position: relative;
  animation: bottom_up 0.4s ease-in-out;
}
.project_top {
  display: flex;
  justify-content: space-between;
}
.project_icon_file {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  line-height: 1em;
  flex-shrink: 0;
  color: rgb(100, 255, 218);
}
.project_icon_open {
  display: inline-flex;
  cursor: pointer;
  background: transparent;
  justify-content: center;
  transition: all 250ms ease 0s;
  user-select: none;
  vertical-align: middle;
  outline: none;
  border: 0;
  min-width: 2.5rem;
  font-size: 1rem;
  color: rgb(113, 128, 150);
}
.project_icon_open:active {
  color: rgb(45, 55, 72);
}
.project_icon_open:hover {
  color: rgb(100, 255, 218);
}
.project_title {
  color: rgb(204, 214, 246);
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
  margin-top: 1rem;
}
.project_desc {
  font-weight: 500;
  font-size: 1rem;
  color: rgb(136, 146, 176);
  margin: 0;
  margin-top: 0.75rem;
}
.project_last {
  display: flex;
  color: rgb(136, 146, 176);
  align-items: center;
  position: absolute;
  margin-top: 0.75rem;
  bottom: 1.25rem;
}
.project_last_icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  line-height: 1em;
  flex-shrink: 0;
  color: currentcolor;
  margin-left: 1rem;
}
.project_last_text {
  margin: 0;
  color: rgb(204, 214, 246);
  font-size: 1rem;
  font-weight: 500;
}
@media (max-width: 768px) {
  .projects_list {
    grid-template-columns: repeat(1, 1fr);
  }
}
@keyframes bottom_up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Contact Page */
.contact {
  display: flex;
  justify-content: space-evenly;
  font-size: 22px;
  margin: 30px 0;
  min-height: 70vh;
}
.contact p {
  margin-bottom: 15px;
}
.contact_left {
  width: 40%;
  padding: 0 20px;
  margin-top: 40px;
}
.contact_right {
  width: 40%;
  padding: 20px;
}
.follow {
  width: 100%;
  display: -webkit-box;
  display: flex;
  flex-flow: wrap;
  /* margin: 0 15px; */
  color: #ee6f57;
}
.hover_eff {
  font-weight: 400;
  font-size: 18px;
  white-space: nowrap;
  /* color: hsla(0, 0%, 100%, 0.88); */
  text-decoration: none;
  padding: 1px;
}
.hover_eff:before {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  height: 10%;
  width: 100%;
  background: rgb(32, 178, 170, 0.3);
  transition: all 0.15s linear;
}
.hover_eff:focus:before,
.hover_eff:hover:before {
  height: 100%;
  color: black;
}
strong {
  color: #edc988;
  font-weight: 700;
}

.contact_left-follow {
  width: 100%;
  display: -webkit-box;
  display: flex;
  flex-flow: wrap;
  /* margin: 0 15px; */
  color: #ee6f57;
}
.gap {
  margin: 0 20px 20px 0;
}
section .contact_left-follow a {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin: 10px 15px;
  padding: 5px;
  font-weight: 400;
  margin-left: 0px;
}
section .contact_left-follow a img {
  margin-right: 5px;
}
@media (max-width: 860px) {
  .contact {
    flex-direction: column;
    margin: 0;
  }
  .contact_left {
    width: 100%;
    margin: 20px 0;
  }
  .contact_right {
    width: 100%;
    height: 600px;
  }
}

.thanks {
  color: #120902;
}

/* Uses page */
.uses__sec {
  color: #d1d5db;
  margin: auto;
}
.uses__sec__img {
  max-width: 500px;
  margin: auto;
  /* height: 400px;  */
}
.uses__sec__img-one {
  width: 100%;
  height: 450px;
  object-fit: contain;
}
.uses__title {
  color: #f3f4f6;
  scroll-margin-top: 8rem;
  font-size: 1.5rem;
  margin-top: 1.6rem;
  margin-bottom: 0.6rem;
  line-height: 1.6;
}
.uses__list li {
  height: unset;
  margin: 2px 0 0 10px;
  list-style-type: disc;
  display: list-item;
  line-height: 1.5;
}

/* Footer */
.footer {
  color: hsla(0, 0%, 100%, 0.88);
  padding: 50px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__links a {
  position: relative;
  display: inline-block;
  color: #007bff !important;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 15px;
  outline: 0;
}
.footer__links a .text {
  font-size: 0.9rem;
  display: inline;
  letter-spacing: 1px;
}
.footer__links img {
  display: none;
  width: 22px;
}
@media screen and (max-width: 480px) {
  .footer {
    padding: 50px 30px;
  }
  .arrow-link {
    font-size: 16px;
  }
}
@media screen and (max-width: 630px) {
  .footer {
    display: block;
  }
  .footer__links {
    display: flex;
    justify-content: center;
  }
  .footer__links a .text {
    display: none;
  }
  .footer__links img {
    display: inline-block;
  }
  .footer__copyright {
    width: auto;
    text-align: center;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 1024px) {
  .footer {
    padding: 50px;
  }
  .footer__links a {
    margin: 0 10px;
  }
}

.achi {
  max-width: 650px;
  margin-bottom: 50px;
}

.expi__name {
  font-size: 1.6rem;
  margin-bottom: 10px;
  color: hotpink;
}
.achi_name__sub {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #ffdf6e;
}
.achi_name {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: hotpink;
}
@media screen and (max-width: 480px) {
  .expi__name {
    font-size: 1.3rem;
  }
  .achi_name__sub {
    font-size: 1rem;
  }
}
.achi p {
  font-size: 1rem;
  margin-bottom: 20px;
}
.small {
  /* font-family: "PT Mono"; */
  font-size: 10px;
  display: inline-block;
  margin-top: 15px;
}
.achi_list {
  margin-bottom: 30px;
}
.achi_name__li {
  height: unset;
  margin: 2px 0 0 10px;
  list-style-type: "→  ";
  display: list-item;
  line-height: 1.5;
}
.achi_used {
}

.achi_used .achi_used__item:first-of-type {
  margin-left: 0;
}
.achi_used .achi_used__item {
  display: inline-block;
  margin: 3px 5px 3px 0;
  /* font-family: Inconsolata, monospace; */
  font-size: 0.75rem;
  font-weight: 700;
  padding: 2px 7px;
  border-radius: 3px;
  color: #6f69ac;
  border: 1px solid #6f69ac;
  background: 0 0;
}

/* Common */
/* section h1 {
  font-size: 40px;
  color: tomato;
  margin-bottom: 1rem;
}
section h2 {
  font-size: 24px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #007bff;
  padding-bottom: 5px;
  color: hsla(0, 0%, 100%, 0.88);
} */
section li {
  font-size: 17px;
  margin: 5px 0;
  list-style-type: circle;
  list-style-position: inside;
}
::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
}
section li a,
section p a {
  text-decoration: underline;
  /* color: #c6cfff; */
}
section#intro em {
  font-style: normal;
  font-size: 20px;
  margin: 10px 0px;
  padding-left: 10px;
  border-left: 3px solid teal;
  display: inline-block;
}
/* section p {
  color: hsla(0, 0%, 100%, 0.88);
  font-size: 18px;
  margin: 30px 0;
  line-height: 1.5;
} */

/* Uses page */
.uses__sec {
  color: #d1d5db;
  margin: auto;
}
.uses__sec__img {
  max-width: 500px;
  margin: auto;
}
.uses__sec__img-one {
  width: 100%;
  height: 450px;
  object-fit: contain;
}
.uses__title {
  color: #f3f4f6;
  scroll-margin-top: 8rem;
  font-size: 1.5rem;
  margin-top: 1.6rem;
  margin-bottom: 0.6rem;
  line-height: 1.6;
}
.uses__list li {
  height: unset;
  margin: 2px 0 0 10px;
  list-style-type: disc;
  display: list-item;
  line-height: 1.5;
}

/* Footer */
.footer {
  color: hsla(0, 0%, 100%, 0.88);
  padding: 50px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__links a {
  position: relative;
  display: inline-block;
  color: #007bff !important;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 15px;
  outline: 0;
}
.footer__links a .text {
  font-size: 0.9rem;
  display: inline;
  letter-spacing: 1px;
}
.footer__links img {
  display: none;
  width: 22px;
}
@media screen and (max-width: 480px) {
  .footer {
    padding: 50px 30px;
  }
  .arrow-link {
    font-size: 16px;
  }
}
@media screen and (max-width: 630px) {
  .footer {
    display: block;
  }
  .footer__links {
    display: flex;
    justify-content: center;
  }
  .footer__links a .text {
    display: none;
  }
  .footer__links img {
    display: inline-block;
  }
  .footer__copyright {
    width: auto;
    text-align: center;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 1024px) {
  .footer {
    padding: 50px;
  }
  .footer__links a {
    margin: 0 10px;
  }
}
