.headerWrapper {
  display: flex;
  margin-bottom: 100px;
}

.profileWrapper {
  position: relative;
}

.profilePicture {
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
}

.profileContent {
  margin: 10px 0 0 50px;
}

.profileContent h1 {
  color: #1f2933;
  font-size: 45px;
  letter-spacing: 2px;
  margin: 0;
}

.profileContent h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 30px;
}

@media only screen and (max-width: 768px) {
  .headerWrapper {
    display: block;
    margin-bottom: 50px;
  }

  .profilePicture {
    width: 200px;
  }

  .profileWrapper {
    display: block;
    text-align: center;
    width: 100%;
  }

  .profileContent {
    display: block;
    margin: 25px 0 0;
    width: 100%;
  }
}
